@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --text-color: #fff;
}

body {
  background-color: #111;
  font-family: "Poppins", sans-serif;
}
